<div class="content">
  <div class="logo">
    <img src="/images/logo.png">
  </div>
  {{#if flashInfo}}
  <div class="alert alert-danger" role="alert">{{flashInfo}}</div>
  {{/if}}

  {{#if flashSucess}}
  <div class=" alert alert-success" role="alert">{{flashSucess}}</div>
  {{/if}}

  <div class="form-content">
    <form action="/auth/login" method="post">
      <div class="form-group">
        <input type="email" name="email" class="form-control" placeholder="email">
      </div>
      <div class="form-group">
        <input type="password" name="password" class="form-control" placeholder="password">
      </div>
      <div class="forgot-password-link">
        <a href="#" onclick="alert('O recuperar senha não ficou pronto a tempo.  Se perdeu a senha, crie um novo usuario para testar o sistema')">forgot my password</a>
      </div s>
      <button type="submit" class="btn btn-submit-home">SIGN IN</button>
    </form>
  </div>
  <hr>
  <div class="create-link-home">
    <a class="btn btn-create-account" href="/user/create">CREATE AN ACCOUNT</a>
  </div>
</div>