<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="stylesheets/login.css">
</head>

<body>
  <div id="logo">
    <h1><i> STARK INDUSTRIES</i></h1>
  </div>
  <section class="stark-login">

    <form action="/auth/login" method="post">
      <div id="fade-box">
        <input type="text" name="email">
        <input type="password" name="password">
        <input type="submit" value="Submit">
        <a href="auth/github">logar com github</a>
      </div>
    </form>
  </section>

  <div id="circle1">
    <div id="inner-cirlce1">
      <h2> </h2>
    </div>
  </div>
  <ul>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
  </ul>
</body>

</html>