<h1>Area do usuario</h1>
Seja bem-vindo {{user.name}}<br><br>

<h2>Lista de favoritos</h2>
{{#each favorites}}
{{this.name_character}}<br>
{{/each}}

<br><br><br>
<a href="/characters">listar todos os herois</a>