<div class="album py-5 bg-light">
    <div class="container">
        <div class="row">
            {{#if_array_is_empty favorites}}
            <div class="alert alert-danger col-md-12" style="text-align: center;" role="alert">
                você não tem favoritos cadastrados
            </div>
            {{/if_array_is_empty}}

            {{#each favorites}}
            <div class="col-md-3">
                <div class="card mb-4 shadow-sm">
                    <img style="width: 100%; height:250" src="{{this.image_path}}" alt="">
                    <div class="card-body">
                        <p class="card-text">{{this.name_character}}</p>
                        <p class="card-text"></p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a class="btn btn-sm btn-outline-secondary"
                                    href="/characters/id/{{this.id_character}}">view</a>
                                <a class="btn btn-sm btn-outline-secondary"
                                    href="/user/favorites/delete/{{this.id}}">delete</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {{/each}}
            
        </div>
    </div>
</div>