<h1>Area do usuario</h1>
Seja bem-vindo {{displayName}}<br><br>
<h2>Lista de favoritos</h2>
{{#each favorites}}
<a href="/characters/id/{{this.id_character}}">{{this.name_character}}</a><a href="/user/favorites/delete/{{this.id_character}}"> <b>excluir</b></a><br>
{{/each}}
<br><br><br>
<a href="/characters">listar todos os herois</a>