<h1>Criar usuários</h1>

<form action="/users/store" method="post">
  First name:<br>
  <input type="text" name="name">
  <br>
  email<br>
  <input type="text" name="email">
  <br>
  password<br>
  <input type="password" name="password">
  <br><br>
  <input type="submit" value="Submit">
</form> 
