.jumbotron {
    display: none;
}

.content {
    max-width: 400px;
    margin: 50px auto;
    background: white;
    padding: 10px;
    font-style: "Comic Sans MS", cursive, sans-serif;
}

.logo {
    margin-bottom: 30px;
    width: 100%;
    text-align: center;
}

.form-content {
    margin-bottom: 30px;
}

.btn-submit-home {
    width: 100%;
    background-color: red;
    color: white;
    font-size: 20px;
    font-weight: bold
}

.create-link-home {
    margin-top: 20px;
    margin-bottom: 20px;
    color: red;
    text-align: center;
}

.btn-create-account {
    border: 2px solid black;
    padding: 10px;
}