<a href="/user">voltar</a> 
<br><br>
<h1>Characters</h1>
<p>Welcome to Characters</p>

{{#montarGrid characters.results 4}}
{{/montarGrid}}

{{#each characters.results}}
<a href="/characters/id/{{this.id}}">{{this.name}}</a><br>
{{/each}}

<br><br>
{{{paginacao}}}